/*------------------------- General styles */
body {
    text-align: center;
}
/*------------------------- Navigation */
.navbar {
    text-align: left;
}
.nav-item {
    font-size: 1.25rem;
}
.navbar-light .navbar-nav .nav-link {
    border: none;
}
.navbar-light .navbar-toggler {
    height: auto;
}
/*------------------------- Header */
.heroImage {
    background-image: url("https://lp-cms-production.imgix.net/2019-06/GettyImages-153020210_medium.jpg?fit=crop&q=40&sharp=10&vib=20&auto=format&ixlib=react-8.6.4");
}
#header::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
#header.alt .mission {
    font-size: 2vh;
    font-weight: 600;
    color: rgba(255, 255, 255);
}
#header.alt {
    min-height: 95vh;
}
#header a:hover,
.item header a:hover,
.actions li a:hover {
    border: none;
    text-decoration: none;
    background-color: rgb(25 24 24 / 20%);
}
.learnButton {
    color: rgba(255, 255, 255) !important;
    background-color: rgb(72, 64, 64, 0.50);
}
/*------------------------- Social links */
.socialLinks {
    text-align: center;
    font-size: 1.75rem;
    padding-top: 0.5rem;
}
/*------------------------- Title */
.titleContainer {
    margin: 5vh;
}
.title {
    padding: 0 0.5em 0.25em;
    border-bottom: solid 2px #ffffff;
    font-weight: 200;
    font-family: "Pacifico", cursive;
    text-transform: none;
    letter-spacing: 0;
}
.title ~ p {
    text-transform: uppercase;
    letter-spacing: 0.325rem;
}
/*------------------------- Form */
#addressForm {
    margin: 5vh;
    border: solid 1px;
    padding: 3vh;
}
#addressForm h2 {
    font-size: 4vh;
}
/*------------------------- location_details.html */
.images {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.item .headerLocationDetails {
    height: 50vh;
}
ul.actionsLocationDetails {
    margin: 2em 0 1em;
}
/*------------------------- locations.html */
#main .itemsLocations {
    width: fit-content;
    background-color: rgb(177 161 161 / 50%)
}
#map {
    height: 50vh;
}