{% extends 'base.html' %} {% block content %}
<!-- Title -->
<section class="background">
  <div class="title_container ">
      <h1 class="title">Clean Up Cork City</h1>
      <ul class='actions'>
        <li><a href="{{url_for('locations')}}" class='button'>- Active dumps -</a></li>
        <li><a href="{{url_for('cleaned_locations')}}" class='button active'>- Cleaned Locations -</a></li>
      </ul>
  </div>
  </section>
<!-- Map -->
<div id='map'></div>
<!-- List of locations -->
<section id='main' class='main items'>
  {% for location in locations %}
  {% if location.status == 'cleaned' %}
  <article class='item items_locations address_of_locations'>
    <h2 class='address'>{{location.address_of_location}}</h2>
    <p class="lat_long"><i class='fas fa-map-marker-alt'></i> (Latitude :<span class='lat'>{{location.latitude_of_location}}</span>,
      Longitude : <span class='long'>{{location.longitude_of_location}}</span>)</p>
    <ul class='actions'>
      <li><a href="{{url_for('cleaned_location_details', location_id=location._id)}}" class='button'>More Details</a>
      </li>
    </ul>
  </article>
  {% endif %}
  {% endfor %}
</section>

{% endblock %}