{% extends 'base.html' %} {% block content %}
<!-- Info section -->
<article class='item container'>
    <header class='header_cleaned_location_details row'>
        <img src='{{src}}' class='images images_details col-6' />
        <img src='{{src_cleaned}}' class='images images_details col-6' />
    </header>
    <div class='row before_after'>
        <p class="col-6 bold">BEFORE</p>
        <p class="col-6 bold">AFTER</p>
    </div>
    <div>
        <p><span class='bold'>Address</span>: {{address}}</p>
        <p><span class='bold'>Uploaded by</span>: {{name}}</p>
        <p><span class='bold'>Cleaned on</span>: {{date}}</p>
        <p class="bold">{{number_of_people}} people participated in the cleanup! </p>
    </div>
    <ul class='actions actions_location_details'>
        <li><a href="{{url_for('cleaned_locations')}}" class='button'>Go back to the map</a></li>
    </ul>
</article>

{% endblock %}