{% extends 'base.html' %} {% block content %}
<!-- Title -->
<section class='title_container'>
  <div>
    <ul class="back_button">
      <li class="left_align">
        <a href="{{ url_for('profile_page') }}" class='icon fas fa-arrow-circle-left'></a>
      </li>
    </ul>
  </div>
  <h1 class='title'>Clean Up Cork City</h1>
  <p> - Events - </p>
  <canvas id="canvas"></canvas>
</section>
<!-- List of Events -->
<section id='main' class='main items events_section'>
  {% for location in locations %}
  {% if location.status == 'not_cleaned' %}
  <article class='item items_locations address_of_locations'>
    <h2 class="date_cleanup">Date of cleanup: <br> <span class="date_of_cleanup bold"></span></h2>
    <h2 class="date_cleanup">Time of cleanup: <span class="bold">10 AM</span></h2>
    <p class='address cleanup_location'>{{location.address_of_location}}</p>
  </article>
  {% endif %}
  {% endfor %}
</section>
{% endblock %}
{% block scripts %}
<!-- confetti.js -->
<script src="{{ url_for('static', filename='js/confetti.js')}}"></script>
<!-- date_of_event.js -->
<script src="{{ url_for('static', filename='js/date_of_event.js')}}"></script>
{% endblock scripts %}