{% extends 'base.html' %} {% block content %}
<!-- Hero Image -->
<header id="header" class="alt hero_image">
    <div class="inner">
        <h1>Clean Up Cork City</h1>
        <p class="mission">Our mission is to clean up Cork City with litter cleanup and waste mapping </p>
        <ul class="actions">
            <li><a id="scroll_link" class="button learn_button">Learn More</a></li>
        </ul>
    </div>
</header>
<!-- Info section -->
<div id="main" class="main items">
    <article class="item">
        <header>
            <a href="{{url_for('about')}}"><img
                    src="static/images/plastic.jpeg"
                    alt="Plastic litter" class="images" /></a>
            <h2>The issue of littering</h2>
        </header>
        <p>Our mission is to organise a community cleanup program in Cork City. <br> Learn how you can help!</p>
        <ul class="actions">
            <li><a href="{{url_for('about')}}" class="button">About Us</a></li>
        </ul>
    </article>
    <article class="item">
        <header>
            <a href="{{url_for('locations')}}"><img
                    src="static/images/map.jpg" alt="Map"
                    class="images" /></a>
            <h2>Creating a map of waste</h2>
        </header>
        <p> Our mission is to create a map of illegal dumps in Cork City and clean them up with the help of our
            volunteers.</p>
        <ul class="actions">
            <li><a href="{{url_for('locations')}}" class="button">Map of Waste</a></li>
        </ul>
    </article>
</div>
{% endblock %}