{% extends 'base.html' %} {% block content %}
<article class='item'>
    <header class='header_location_details'>
        <img src='{{src}}'' id='card_image' class='images' />
    </header>
    <div class='left_align'>
        <p><span class='bold'>Address</span>: {{address}}</p>
        <p><span class='bold'>Uploaded by</span>: {{name}}</p> 
        <p><span class='bold'>Date and time</span>: {{date}}</p>
    </div>
    <ul class='actions actions_location_details'>
        <li><a href="{{url_for('locations')}}" class='button'>Go back to the map</a></li>
    </ul>
</article>
{% endblock %}