{% extends 'base.html' %} {% block content %}
<!-- Title -->
<section class="titleContainer">
  <h1 class="title">Clean Up Cork city</h1>
  <ul class="actions">
    <li><a id="scrollLinkMap"  class="button">- Map of locations -</a></li>
    <li><a id="scrollLinkForm" class="button">- Add a location -</a></li>
  </ul>
</section>
<!-- Map -->
<div id="map"></div>
<!-- List of locations -->
<section id="main" class="main items">
  {% for location in locations %}
  <article class="item itemsLocations">
    <h2 class="address">{{location.address}}</h2>
    <p><i class="fas fa-map-marker-alt"></i> (Latitude :<span class="lat">{{location.latitude_of_location}}</span>, Longitude : <span class="long">{{location.longitude_of_location}}</span>)</p>
    <ul class="actions">
      <li><a href="{{url_for('location_details', location_id=location._id)}}"class="button">More Details</a></li>
      <li><a  href="{{url_for('edit_location', location_id=location._id)}}" class="button">Edit Location</a></li>
      <li><a href="{{url_for('delete_location', location_id=location._id)}}" class="button">Delete Location</a></li>
    </ul>
  </article>
  {% endfor %}
</section>
<!-- Form -->
<form action="{{ url_for('insert_location')}}" method="POST" enctype="multipart/form-data" id="addressForm">
  <h2>Did you see a litter dump in Cork City?</h2>
  <p>Add the details here!</p>
  <div class="form-group">
    <input type="text" class="form-control" name="address" id="inputAddress" data-geocomplete="street address" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1">Upload a picture of the location</label>
    <input type="file" class="form-control-file" name="picture" id="exampleFormControlFile1" required>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" id="inputName" name="name" placeholder="Name" required>
    </div>
    <div class="form-group col-md-6">
      <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Email" required>
    </div>
  </div>
  <button type="submit" class="btn btn-info" >Submit</button>
</form>
{% endblock %}

    