{% extends 'base.html' %} {% block content %}
<!-- Title -->
<section class="background">
  <div class="title_container ">
    <h1 class="title">Clean Up Cork City</h1>
    <ul class='actions'>
      <li><a href="{{url_for('locations')}}" class='button active'>- Active dumps -</a></li>
      <li><a href="{{url_for('cleaned_locations')}}" class='button'>- Cleaned Locations -</a></li>
    </ul>
  </div>
</section>
<!-- Map -->
<div id='map'></div>
<!-- List of locations -->
<section id='main' class='main items'>
  {% for location in locations %}
  {% if location.status == 'not_cleaned' %}
  <article class='item items_locations address_of_locations'>
    <h2 class='address'>{{location.address_of_location}}</h2>
    <p class="lat_long"> (Latitude :<span class="lat">{{location.latitude_of_location}}</span>,
      Longitude : <span class='long'>{{location.longitude_of_location}}</span>)</p>
    <ul class='actions'>
      <li><a href="{{url_for('location_details', location_id=location._id)}}" class='button'>More Details</a></li>
      <li><a href="{{url_for('mark_location_cleaned', location_id=location._id)}}" class='button'>Mark as
          cleaned!</a>
      </li>
    </ul>
  </article>
  {% endif %}
  {% endfor %}
</section>
<!-- Flash message -->
{% for message in get_flashed_messages() %}
<p class='alert-error'>Error: {{ message }}</p>
{% endfor %}
<!-- Form -->
{% if 'username' in session %}
<form action="{{ url_for('insert_location')}}" method='POST' enctype='multipart/form-data' id='address_form'>
  <h2>Did you see a litter dump in Cork City?</h2>
  <p>Add the details here!</p>
  <p class="border"></p>
  <div class='form-group'>
    <input type='text' class='form-control input_address' name='address' id='input_address'
      data-geocomplete='street address' required>
  </div>
  <div class='form-group'>
    <label for='picture'>Upload a picture of the location</label>
    <input type='file' class='form-control-file' name='picture' id='picture' accept="image/*" required>
  </div>
  <button type='submit' class='btn btn-primary btn-block'>Submit</button>
</form>
{% endif %}
{% endblock %}
{% block scripts %}
<!-- map.js -->
<script src="{{ url_for('static', filename='js/map.js')}}"></script>
<!-- Google Maps -->
<script async defer
  src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA60WSTkV6Sr0CNgszxYkZIhyrYigZpnXI&libraries=places&callback=initMap'></script>
<!-- retain_scroll_position.js -->
<script src="{{ url_for('static', filename='js/retain_scroll_position.js')}}"></script>
{% endblock scripts %}