{% extends 'base.html' %} {% block content %}
<!-- Info about the location -->
<article class='item'>
    <header class='header_location_details'>
        <img src='{{src}}' id=' card_image' class='images' />
    </header>
    <div>
        <p><span class='bold'>Address</span>: {{address}}</p>
        <p><span class='bold'>Uploaded by</span>: {{name}}</p>
        <p><span class='bold'>Date and time</span>: {{date}}</p>
    </div>
    <!-- Links -->
    <ul class='actions actions_location_details'>
        {% if name ==  session['username']%}
        <li><a href="{{url_for('profile_edit_location', location_id=location_id)}}" class='button'>Edit
                locations</a>
        </li>
        <li><a href="{{url_for('delete_location', location_id=location_id)}}" class='button'>Delete
                Location</a>
            {% endif %}
        <li><a href="{{url_for('locations')}}" class='button'>Go back to the map</a></li>
    </ul>
</article>
{% endblock %}