{% extends 'base.html' %} {% block content %}
<!-- Title -->
<section class='title_container'>
    <h1 class='title'>Clean Up Cork City</h1>
    <p>- Log in -</p>
    <canvas id="canvas"></canvas>
</section>
<!-- Form -->
<div class='container'>
    <div class='row'>
        <div class='col-md-6'>
            {% for message in get_flashed_messages() %}
            <p class='alert-error'>Error: {{ message }}</p>
            {% endfor %}
            <form method='POST' action="{{ url_for('login') }}">
                <div class='form-group'>
                    <input type='text' class='form-control' name='username' placeholder='Username'>
                </div>
                <div class='form-group'>
                    <input type='password' class='form-control' name='pass' placeholder='Password'>
                </div>
                <button type='submit' class='btn btn-block'>Log In</button>
            </form>
            <br>
            <div class="signup_link">
                Don't have an account? <a href="{{ url_for('register') }}">Sign up here</a>.
            </div>
        </div>
    </div>
</div>
{% endblock %}