{% extends 'base.html' %} {% block content %}
<section>
  <ul class="back_button">
    <li class="left_align">
      <a href="{{ url_for('profile_page') }}" class='icon fas fa-arrow-circle-left'></a>
    </li>
</section>
<section class="background">
  <div class="title_container ">
    <h1 class='title'>Clean Up Cork City</h1>
    <p class="bold_500">-Edit a location- <br> 1/2 </p>
  </div>
</section>

{% for message in get_flashed_messages() %}
<p class='alert-error'>Error: {{ message }}</p>
{% endfor %}

<article class='item profile_item'>
  <form action="{{ url_for('profile_update_location', location_id=location._id) }}" method='POST'
    class="form_edit_location">
    <div class='form-group address_of_locations'>
      <label for='input_address'>Edit the address <br> <span
          class="address">{{location.address_of_location}}</span></label>
      <p class="lat_long"> (Latitude :<span class="lat">{{location.latitude_of_location}}</span>,
        Longitude : <span class='long'>{{location.longitude_of_location}}</span>)</p>
      <input type='text' class='form-control margin_bottom' id='input_address' name='address'
        data-geocomplete='street address' placeholder='{{location.address_of_location}}' required>
      <div id="map" class="map_profile"></div>
    </div>

    <button type='submit' class='btn btn-block'>Next</button>

  </form>
</article>
{% endblock %}