{% extends 'base.html' %} {% block content %}
<!-- Title -->
<section class="background">
  <div class="title_container ">
    <h1 class='title'>Clean Up Cork City</h1>
    <p class="bold_500">-Edit a location- <br> 2/2 </p>
  </div>
</section>
<!-- Picture of the location -->
<article class='item profile_picture'>
  <header class='header_location_details'>
    <img src='{{src}}' id='card_image' class='images' />
  </header>
</article>
<p>Would you like to upload a new picture?</p>
<ul class='actions actions_location_details'>
  <li><a class='button' id="upload_picture">Yes</a></li>
  <li><a href="{{url_for('location_details', location_id=location_id)}}" class='button'>No</a></li>
</ul>
<!-- Form -->
<section id="upload_new_picture">
  <form action="{{ url_for('profile_update_picture', location_id=location._id) }}" method='POST'
    enctype='multipart/form-data' class="form_edit_picture">
    <div class='form-group'>
      <input type='file' class='form-control-file' name='picture' id='picture' accept="image/*" required>
    </div>
    <button type='submit' class='btn btn-block'>Submit</button>
  </form>
</section>
{% endblock %}